version: '3.8'

services:
  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "8080:80"  # Changed to 8080 to avoid port 80 conflicts
    depends_on:
      - backend
    restart: unless-stopped
