# version: '3.8'

# services:
#   backend:
#     build:
#       context: ./backend
#     container_name: backend
#     ports:
#       - "5000:5000"
#     env_file:
#       - ./backend/.env
#     restart: unless-stopped
#     networks:
#       - app-network

#   frontend:
#     build:
#       context: ./frontend
#     container_name: frontend
#     ports:
#       - "8080:80"
#     depends_on:
#       - backend
#     restart: unless-stopped
#     networks:
#       - app-network

# networks:
#   app-network:
#     driver: bridge



version: '3.8'

services:
  backend:
    build:
      context: ./backend
    image: aimen123/backend
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    restart: unless-stopped
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    image: aimen123/frontend
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - app-network

  # Dummy Mongo container (for persistence requirement)
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge
